.flex{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 8rem;
    align-items: center;
    height: 35rem;
    box-shadow: 0px 0px 15px 0px #00000073;
    border-radius: 18px;
}


.cmd{
    width: 25%;
    height: 100%;
    background-color: #15161D;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 18px 0 0 18px;
    overflow-x: hidden;
}

.cmd::-webkit-scrollbar {
    width: 3px;
  }
  
  .cmd::-webkit-scrollbar-track {
    background: #15161D;
  }
  
  .cmd::-webkit-scrollbar-thumb {
    background: #1c1e27;
    border-radius: 50rem;
  }


.cmdinfobox{
    overflow: auto;
    width: 75%;
    height: 100%;
    background-color: #181922;
    border-radius:  0 18px 18px 0;
}



.cmdinfobox::-webkit-scrollbar {
    width: 0px;
    margin-top: 10rem;
    border-radius: 5px;
  }
  

.cmdbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1E27;
    border-radius: 11px;
    padding: .8rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
    cursor: pointer;
}

.cmdbuttonactive{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5865F2;
    border-radius: 11px;
    padding: .8rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #5865F2;
}

.cmdinfo{
    width: 100%;
    height: 5.5rem;
    padding: .8rem 1.5rem;
    border-bottom: 1px solid #1f212b;

}

.cmdinfo .title{
    display: flex;
    align-items: center;
}

.title p{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.title .alias{
    background: #15161E;
    padding: 3px;
    border-radius: 5px;
    margin-left: .8rem;
    font-family: "Courier New";
    color: #5663f3;

}


.cmdinfo .description{
    font-size: 1.2rem;
}
