@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');


html,
body {
  color:#ECECEC;
  background-color: #1F222C;
  padding: 0;
  margin: 0;
  font-family: "Poppins", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 8px;
}

.select-dropdown ::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--switch-hover-color)
}

::-webkit-scrollbar-thumb {
  background: var(--switch-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--switch-color);
  opacity: 0.8;
}
