.header{
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    z-index: 1000;
}
.header .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 60px;
    transition: 0.5s;
    filter: var(--invert);
}

#logo:hover {
    transform: rotate(-8deg) scale(1.1);
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
}
.header li {
    display: inline-flex;
}
.header ul li a {
    text-decoration: none;
    padding: 0.45rem 0.8rem 0.45rem 0.8rem;
    margin: 0 0.4rem 0 0.4rem;
}


.active {
    font-weight: 600;
    color: #404EED;
}



.login{
    box-shadow: 0px 0px 15px 0px #404EED;
    background-color: var(--switch-color);
    text-decoration: none;
    padding: 0.45rem 2.5rem 0.45rem 2.5rem;
    margin: 0 4rem 0 0.4rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #404EED;

}
#login:hover{
    background-color: var(--switch-hover-color);
}

.widthl{
    width: inherit;
}


