.header {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding: 0 6rem;
}

.header .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.logo img {
    border-radius: 8px;
}


.logo:hover {
    transform: rotate(-8deg) scale(1.1);
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header li {
    display: inline-flex;
}

.header ul li a {
    text-decoration: none;
    padding: 0.45rem 0.8rem;
    margin: 0 0.4rem;
    transition: 0.1s;
}

.header ul li a:hover {
    filter: brightness(90%);
}



.active {
    font-weight: 600;
    color: #5865F2;
}



.login {
    box-shadow: 0 0 15px 0 #5865F2;
    text-decoration: none;
    padding: 0.45rem 2.5rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5865F2;
    transition: 0.2s;

}

.login:hover {
    background-color: #4e5bee;
}

.widthl {
    width: inherit;
}



@media only screen and (max-width: 740px) {

    .header {
        padding: 0;
    }

    .header .items {
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .login {
        display: none;
    }

    .header ul li a {
        font-size: 1rem;
        text-decoration: none;
        padding: 0.3rem 0.5rem;
        margin: 0 0.2rem;
        transition: 0.1s;
    }

    .header ul {
        padding: 0;
    }
}