

.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
}



.head{
  margin-top: 5rem;
  width: 50rem;
  height: 30rem;
}

.head h1{
  color: white;
  font-size: 7rem;
  font-weight: 800;
  margin: 0;
} 

.head h2{
  color: white;
  font-size: 2.8rem;
  position: absolute;
  top: 40%;
  font-weight: 500;
  margin: 0;
} 


.head .buttons{
  display: flex;
  width: 100%;
  height: 2rem;
  margin-top: 2rem;
  color: blue;
}



@media only screen and (max-width: 600px){
  .head h1{
    color: white;
    font-size: 3.2em;
    font-weight: 800;
    margin: 0;
  } 
  
  .head h2{
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 40%;
    font-weight: 500;
    margin: 0;
  } 
}