.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}


.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/0Sbum2L.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  background-color: #0d0e17;
  position: absolute;
  width: 100%;
  top: 100vh;
  overflow-y: hidden;
}

.head {
  margin-top: 5rem;
  width: 50rem;
  height: 30rem;
}

.head h1 {
  color: white;
  font-size: 7rem;
  font-weight: 800;
  margin: 0;
}

.head h2 {
  color: white;
  font-size: 2.8rem;
  position: absolute;
  top: 38%;
  font-weight: 500;
  margin: 0;
}


.head .buttons {
  display: flex;
  width: 70%;
  height: 4rem;
  margin-top: 4.8rem;
  justify-content: space-between;
}




.invite {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5865F2;
  width: 45%;
  font-size: 1.4rem;
  font-weight: 600;
  height: 3.7rem;
  border-radius: 100rem;
  cursor: pointer;
  transition: 0.15s;

}

.invite:hover {
  box-shadow: 0px 0px 15px 0px #5865F2;
}

.github {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #0d0e17;
  width: 45%;
  height: 3.7rem;
  border-radius: 100rem;
  transition: 0.15s;
}

.github:hover {
  box-shadow: 0px 0px 15px 0px #0d0e17;
}

.info {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20rem;
  margin: 5rem 0 5rem 0;
}


.info .image {
  font-size: 0;
  align-self: center;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px #36393f79;

}


.ready {
  margin-top: 2.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.ready .invite {
  width: 30rem;

}

.ready p {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}


.footer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center
}

.footer a {
  color: #5865f2;
  margin-left: 0.3rem;
}

.info img {
  border-radius: 15px;

}

.info .dcs {
  width: 50%;
  padding-left: 7rem;
}

.info .dcs_l {
  width: 50%;
  padding-right: 7rem;
}

.info .dcs_l h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.info .dcs_l h2 {
  font-size: 1.1rem;
  font-weight: 500;
}


.info .dcs h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.info .dcs h2 {
  font-size: 1.1rem;
  font-weight: 500;
}


@media only screen and (min-width: 2100px) {
  .wave {
    display: none;
  }
}


@media only screen and (max-width: 1100px) {
  .container {
    width: 90%;
  }

  .info .dcs {
    padding-left: 5rem;
  }

  .info .dcs_l {
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 950px) {
  .head {
    width: 100%;
  }
}



@media only screen and (max-width: 740px) {

  .head h1 {
    color: white;
    text-align: center;
    font-size: 4.1em;
    font-weight: 800;
    margin: 0;
  }

  .head h2 {
    color: white;
    font-size: 1.4em;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    top: 31%;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    margin: 0;
  }

  .head .buttons {
    width: 100%;
    flex-direction: column;
    height: 9rem;
    align-items: center;
  }

  .info {
    flex-direction: column;
    align-items: center;
  }

  .info .image {
    font-size: 0;
    align-self: center;
    width: 95%;
    border-radius: 8px;

  }

  .info img {
    border-radius: 8px;
  }

  .ready .invite {
    width: 90%;

  }

  .container {
    width: 95%;
  }

  .info .dcs {
    width: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .info .dcs_l {
    width: 100%;
    padding-right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .head .github {
    width: 90%;
  }

  .head .invite {
    width: 90%;
  }

  .head {
    align-items: center;
  }
}